$bg-color: #FFF;
$sidebar-color: #1A237E;

@import url(http://fonts.googleapis.com/css?family=Alegreya);

img.img_post_it {
	width: 250px;
	margin-left: 50px;
	margin-top: 50px;
}

div.row {
	display: inline-block;;
}

.banner {
	width: 90%;
}

.quote-container {
  margin-top: 50px;
  position: relative;
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Alegreya;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}


body {
	font-family: "Times New Roman", Georgia, Serif;
}

a {
	font-weight: bold;
}

.fa-user {
	color: #03A9F4;
}

.fa-graduation-cap {
	color: #FF6F00;
}

.fa-laptop {
	color: #00C853;
}

.fa-puzzle-piece {
	color: #6200EA;
}

.fa-suitcase {
	color: #B71C1C;
}

.fa-code-fork {
	color: #D500F9;
}

.fa-phone {
	color: #64DD17;
}

.fa-arrow-circle-up {
	color: #FF3D00;
}

@mixin justify() {
  text-align: justify;
  text-justify: inter-word;
}

body, .jumbotron {
  background-color: $bg-color;
}

.active {
  color: orange;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: orange;
}

h4.description, .justify {
  @include justify();
}

.app, h1 {
	font-family: Alegreya;
	font-weight: bold;
}

div#first {
  margin-left: 35%;
  font-size: 20px;
  float: left;
  @include justify();
}

div#second {
  margin-right: 35%;
  font-size: 20px;
  float: right;
}

#main_photo {
  width: 30%;
  height: 50%;
  margin: 0 auto;
  margin-top: 10%;
}

.container {
  position: relative;
  width: 100%;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $sidebar-color;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:toggled {
    padding-left: 250px;
  }

  &:toggled #sidebar-wrapper {
    width: 250px;
  }

  &:toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 40px;

    a {
      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.2);
      }

      display: block;
      text-decoration: none;
      color: #999999;
    }
  }
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
